@import "reset";
@import "mixins";
@import "fonts";

// Common styles for every slide

html,
body {
  font-family: Arial, sans-serif;
  font-weight: 300;
  color: #000;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background-color: #fff;
}

a,
button {
  outline: none !important;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 22px;
}

sup,
sub {
  font-size: 65%;
  display: inline-block;
}

sup {
  vertical-align: super;
  margin-top: -10px;
}

sub {
  vertical-align: sub;
  margin-bottom: -10px;
}


h1,
h2 {
  text-align: center;
  color: #000;
}

h1 {
  font: 400 37px/54px Arial;
}

h2 {
  font: 400 23px/30px Arial;
}


.slide-wrap {
  @include rel();
  @include bg-size('bg.png');

  max-width: 1024px;
  height: 768px;
  margin: 0 auto;
  overflow: hidden;
}

.slide {
  position: relative;
}


