// Custom fonts
/*
@font-face {
  font-family: $fontArial;
  src: url('../media/fonts/arial_bold-webfont.eot');
  src: url('../media/fonts/arial_bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../media/fonts/arial_bold-webfont.woff2') format('woff2'),
  url('../media/fonts/arial_bold-webfont.woff') format('woff'),
  url('../media/fonts/arial_bold-webfont.ttf') format('truetype'),
  url('../media/fonts/arial_bold-webfont.svg#arialbold') format('svg');
  font-weight: 700;
  font-style: normal;
}
*/