@import "reset";

// menu

html, body {
  height: 100%;
  width: 100%;
}

#menu-trigger {
  position: absolute;
  top: 0px;
  left: 5px;
  height: 60px;
  width: 60px;
  cursor: pointer;
  z-index: 9999;
}

.sliding-menu-content {
  position: fixed;
  top: 0;
  right: auto;
  bottom: 0;
  left: -220px;
  height: 100%;
  width: 220px;
  transition: left .2s ease;
  background: #404040;
  z-index: 9999;
  -webkit-overflow-scrolling: touch;

  li a {
    border-bottom: 1px solid #333;
    color: #fff;
    display: block;
    font-weight: bold;
    padding: .5em;
    font-family: Tahoma;
    text-decoration: none;

    &:hover {
      background-color: #477DCA;
      color: #fff;
    }
  }

  &.is-visible {
    left: 0;
  }
}

.menu-screen {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  transition: all .15s ease-out;
  background: #333;
  opacity: 0;
  visibility: hidden;
  z-index: 9998;

  &.is-visible {
    opacity: .4;
    visibility: visible;
  }
}

#slide-frame {
  height: 100%;
  width: 100%;
  display: block;
}
